<h1>New Work Order</h1>
<%= simple_form_for(@work_order, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :date_needed, :default => Date.current+14 %>
  <%= f.input :description %>
<% end %>

