@import "bootstrap";

body {
  background-color: #E8E3E3;
}

.titlebar {
  background-color: #CEC8C8;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  background: image_url('header-bg.png');
  z-index: 1040;
}

.nav-item {
  background-color: #E2DADA;
  border: 3px solid #CEC8C8;
}

.brandname {
  font-family: 'Lucida Grande';
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
}

a.brandname:link, a.brandname:visited, a.brandname:hover, a.brandname:active {
  color: #575353;
  text-decoration: none;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container-fluid {
  padding: 0 !important;
}